<% klasses = FormBuilder.get_classes -%>
<% if !klasses.empty? -%>
<ul class="toolbox" id="<%= @toolbox_id || 'toolbox' %>">
<%-   klasses .each do |klass| -%>
<%-     if klass.concrete_item? -%>
<li><%= render_cell klass.name.underscore, :tool -%></li>
<%-     end -%>
<%-   end -%>
</ul>
<%- end -%>
<script type="text/javascript">
  new Toolbox("<%= @toolbox_id || 'toolbox' %>", "tool");
</script>
