<ul class="attributes-for-<%= @item.class.name.underscore %>">
  <li class="variable-name">
    <label title="Variable name" for="item_variable_name">Variable name</label>
    <%= text_field :item, :variable_name %>
  </li>
</ul>
